.top-border {
  position: absolute;
  top: 79px;
  border-bottom: @border;
  z-index: 50;
  width: 100%;
  @media @mobile {
    top: 114px;
  }
}

.home {
  @media @mobile {
    margin: 0px 15px;
    padding-right: 5%;
  }
  header {
    border-bottom: @border;
    .top-hdr {
      .flex-align (@justify: space-between, @align: baseline, @direction: row, @wrap: no-wrap);
      margin: 20px 0px;
      @media @mobile {
        .flex-align (@justify: center, @align: baseline, @direction: row, @wrap: wrap);
      }
    }
    .bottom-hdr {
      .flex-align (@justify: space-evenly, @align: initial, @direction: column, @wrap: initial);

      .welcome {
        .flex-align (@justify: space-evenly, @align: initial, @direction: column, @wrap: initial);
        margin: 20px 0px;
      }
    }

    @media @mobile {

    }
  }
// above is header
  .content-section {
    margin: 30px 0;
    .flex-align (@justify: space-between, @align: initial, @direction: initial, @wrap: wrap);

    .text-content {
      width: 48%;
      padding-right: 1%;
        @media @mobile {
          width: 100%;

        }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
        @media @mobile {
          width: 100%;

        }

      img {
        border-radius: 10px;
      }
    }
    @media @mobile {

    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: @border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: @border; //move to section.content-destination
    .flex-align (@justify: space-between, @align: initial, @direction: initial, @wrap: initial);
    .destination {
      width: @pickwidth;
      margin-bottom: 30px;
      .btn-cont {
        width: 80%;
        height: 30px;
        .flex-align (@justify: center, @align: initial, @direction: initial, @wrap: initial);

      }
    }
  }
}// home